:root {
  --background: #4B61D1;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4B61D1;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.header {
  position: fixed;
  top: 20px;
  left: 25px;
  right: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  z-index: 1000;
  mix-blend-mode: difference;
  color: white;
  pointer-events: none;
}

.header-item {
  pointer-events: auto;
}

.header-item.faded {
  opacity: 0.4;
  cursor: default;
}

.header-item:hover {
  text-decoration: underline;
}