body {
  cursor: none !important;
}

.cursor-dot {
  position: fixed;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}