.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 22px;
  z-index: 4000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: difference;

  font-size: 14px;
  letter-spacing: 0.03em;
}

.main-header a,
.main-header span {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header-center .coming-soon {
  opacity: 0.7;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header-left a:hover {
  opacity: 0.7;
}